<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{ card.character.name }}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <img [src]="card.character.image" alt="Character Image" class="card-image" />
          <div class="card-details">
            <div>
              <strong>Status:</strong> {{ card.character.status }}
            </div>
            <div>
              <strong>Species:</strong> {{ card.character.species }}
            </div>
            <div>
              <strong>Gender:</strong> {{ card.character.gender }}
            </div>
            <div>
              <strong>Origin:</strong> {{ card.character.origin.name }}
            </div>
            <div>
              <strong>Location:</strong> {{ card.character.location.name }}
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
